<!DOCTYPE html>
<html>
    <head>
        <title>Sky notes</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="logo/logo.png" />
        <!---->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Load Angular -->
        <script src="node_modules/angular/angular.js"></script>
        <!-- load ace -->
        <script src="node_modules/ace-builds/src-min-noconflict/ace.js"></script>
        <!-- load ace language tools -->
        <script src="node_modules/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
        <!-- load ace-angular -->
        <script src="node_modules/angular-ui-ace/src/ui-ace.js"></script>
        <!---->
        <script src="node_modules/showdown/dist/showdown.min.js"></script>
        <!---->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <!---->
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <script src="js/showdown.angular.js"></script>
        <script src="js/sky-notes.angular.js"></script>
        <script src="js/sky-notes-notebook.angular.js"></script>
        <script src="js/sky-notes-service.angular.js"></script>
        <script src="js/sky-notes-main.angular.js"></script>
    </head>
    <body ng-app="SkyNotes">
        <div id="sn-main" ng-controller="snMainController">
            <nav id="sn-navbar" class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <a class="navbar-brand" href="#">
                            <span>
                                <img src="logo/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                            </span>
                            <span>
                                Sky notes
                            </span>
                        </a>
                    </div>
                </div>
            </nav>
            <div id="sn-body" class="container-fluid">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Notebooks
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="newNotebookTitle" class="form-control"/>
                                        <a href="#" class="input-group-addon btn-success" title="Create a new notebook"
                                            ng-click="createNotebook()"
                                        >
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                                <ul ng-repeat="notebook in getNotebooks()" class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:1.4em">
                                        <a href="#" ng-click="selectNotebook($index)">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                            {{notebook.title}}
                                        </a>
                                        <a href="#" ng-click="removeNotebook($index)" class="badge badge-primary badge-pill btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                        <a href="#" class="badge badge-primary badge-pill btn-success" title="Add a new note"
                                            ng-click="addNote($index)"
                                        >
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                        <span class="badge badge-primary badge-pill" title="Delete the notebook">{{notebook.notes.length}}</span>
                                    </li>
                                    <li  ng-repeat="note in notebook.notes" class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#" class="input-group-text" ng-click="setCurrentNote(note)">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            {{note.title}}
                                        </a>
                                        <a href="#" ng-click="removeNote($parent.$index,$index)" class="badge badge-pill badge-primary btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="sn-editor-container" class="col col-md-9">
                        <div class="row">
                            <div class="col col-md-6">
                                <div id="sn-editor-panel" class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Editor</h2>
                                    </div>
                                    <div class="panel-body" style="position:relative">
                                        <!--
                                        <div class="form-group" style="position:absolute;left:0;top:0;right:0;">
                                            <div class="input-group">
                                                <span class="input-group-addon">Name</span>
                                                <input class="form-control" ng-disabled="!currentNote" type="text"  ng-model="currentNote.title"/>
                                            </div>
                                        </div>
                                        -->
                                        <div id="sn-ace-editor" ui-ace="{
                                              useWrapMode : true,
                                              mode: 'markdown',
                                              firstLineNumber: 5,
                                              onLoad: aceLoaded,
                                              onChange: aceChanged
                                            }"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Preview</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div id="sn-markdown-preview" class="container-fluid">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sn-footer">

            </div>
        </div>
    </body>
</html>
