@page { margin: 0; }

.sn-document {
    font-family         : 'DejaVu Sans';
    padding             : 0;
    margin              : 0;
    background-color    : #F5F5F5;
    color               : #333333;
}


.sn-document ul  {
    list-style-type: square;
}

.sn-document table {
    max-width       : 100%;
    width       : 100%;
}

.sn-document td, .sn-document th {
    padding             : 10px;
}

.sn-document table th {
    background-color: #CCCCCC;
}

.sn-document .page {
    box-sizing          : border-box;
    padding             : 2cm;
    page-break-after    : always;
    overflow            : hidden;
}
