
#sn-main {
    position        : absolute;
    left            : 0;
    top             : 0;
    right           : 0;
    bottom          : 0;
    overflow        : hidden;
}

#sn-body {
    position        : absolute;
    left            : 0;
    top             : 80px;
    right           : 0;
    bottom          : 0;
    margin-bottom   : 20px;
}

#sn-body .row {
    height          : 100%;
}

#sn-body>.row>.col {
    height          : 100%;
}

#sn-body>.row>.col>.card {
    height          : 100%;
}

#sn-body>.row>.col>.card>.card-body {
    height          : 100%;
    overflow        : auto;
}

#sn-editor-panel>.card-body{
    position            :relative;
}

#sn-ace-editor {
    position            : absolute;
    left                : 20px;
    top                 : 120px;
    right               : 20px;
    bottom              : 20px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : #999999;
}

.sn-modal {
	align-items: center;
	justify-content: center;
}

.sn-modal.fade .modal-dialog{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.sn-modal.show {	
	display: flex !important;
}

.sn-modal .modal-dialog {
	flex: 1;
    max-width           : 800px;
}

